@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Madimi One", sans-serif;
  line-height: 1.6;
  background-color: #f5f5f5;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(1 0px);
  -webkit-backdrop-filter: blur(10px);
  color: #333;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.logo {
  font-size: 24px;
  margin-left: 20px;
}

.logo a {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

nav {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ffc107;
}

.section {
  padding: 50px 0;
  text-align: center;
}

.home {
  background-image: url("hero.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px 0;
  text-align: center;
}

.home h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.767);
}
.home p {
  font-size: 1.5rem;
}
.menu {
  background-color: #fff;
  color: #333;
}

.menu-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
}

.menu-item {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.menu-item:hover {
  transform: translateY(-5px);
}

.menu-item img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.menu-item h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.menu-item p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.price {
  font-weight: bold;
  color: #ffc107;
  font-size: 1.2rem;
}

.about {
  background-color: #f9f9f9;
  color: #333;
}

.specialties {
  background-color: #ffc927;
  color: #333;
}

.specialties-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
}

.specialty-item {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.specialty-item:hover {
  transform: translateY(-5px);
}

.specialty-item img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.specialty-item h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.specialty-item p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.specialty-item .price {
  font-weight: bold;
  color: #333;
  font-size: 1.2rem;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}
.specialty-item img,
.menu-item img {
  width: 100%;
  height: 200px; /* Adjust the height to your desired value */
  object-fit: cover;
  border-radius: 5px;
}
